In [1]:
import pandas as pd
import numpy as np
import os
import random as rd
print (os.getcwd())

C:\Users\psinghrathor\EduKeeda

In [14]:
a=[i for i in range(1,10) if i%3==0 or i%2==0]
a

[2, 3, 4, 6, 8, 9]

In [34]:
list1 = [1,2,5,6,7,8,9,10,12]

new_list =[]
for i in range(0,len(list1)):
    if list1[i] % 2 == 0:
        new_list.append(list1[i])
new_list

#Create a new list which consists of those elements which are divisible by 2
#new_list = [2,6,8,10,12]

[2, 6, 8, 10, 12]

In [35]:
#Create a new list and multiply each elements by 2.
b = []
for i in range(0,len(list1)):
        b.append(list1[i]*2)
b

[2, 4, 10, 12, 14, 16, 18, 20, 24]

In [32]:
c = lambda a,b : a*b
c(4,5)

def add(x,y):
    print(x*y)
    
add(4,5)

20

In [33]:
list1 = [1,2,5,6,7,8,9,10,12]

list2 = [2,4,10,12,14,16,20,24]

print(list(filter(lambda x:(x%2 == 0), list1)))

[2, 6, 8, 10, 12]

In [2]:
## LAMBDA Function using filter()#
mylist = [1,5,4,6,8,11,3,12]
xl = list(filter(lambda x: (x%2 == 0), mylist))
print(list(filter(lambda x: (x%2 == 0), mylist)))
print(xl)

[4, 6, 8, 12]
[4, 6, 8, 12]

In [36]:
## LAMBDA Function using map()#
mylist = [1,5,4,6,8,11,3,12]

print(list(map(lambda x: (x*2), mylist)))

[2, 10, 8, 12, 16, 22, 6, 24]

In [ ]:
## remove duplicate from the list

list2 = [1,2,2,3,4,5,5]

print(list(set(list2)))

print(set(list2))

list3 = [2,3,4]

print (list(set(list2) - set(list3)))

In [39]:
set1 = {1,2,3,4,5}

set2 = {2,4}

print(set1 - set2)

{1, 3, 5}