In [31]:
#importing the libraries
import pandas as pd
import numpy as np

#reading the dataset
df=pd.read_csv("salary.csv")

In [32]:
df

  Country  Age  Salary
0   India   44   72000
1      US   34   82000
2   Japan   46   92000
3      US   35  102000
4   Japan   23  112000

# Label Encoding

In [7]:
# Import label encoder 
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()
# Encode labels in column 'Country'. 
df['Country']= label_encoder.fit_transform(df['Country']) 
print(df.head())

   Country  Age  Salary
0        0   44   72000
1        2   34   82000
2        1   46   92000
3        2   35  102000
4        1   23  112000

# Hot Encoding

In [33]:
df.Country.nunique()

3

In [14]:
list1 = [1,2,3,4,5,6]

my_array = np.array(list1)
my_array

array([1, 2, 3, 4, 5, 6])

In [21]:
print(my_array.reshape(1,-1))

[[1 2 3 4 5 6]]

In [34]:
# importing one hot encoder 
from sklearn.preprocessing import OneHotEncoder
# creating one hot encoder object 
onehotencoder = OneHotEncoder()

#reshape the 1-D country array to 2-D as fit_transform expects 2-D and finally fit the object 
X = onehotencoder.fit_transform(df.Country.values.reshape(-1,1)).toarray()

#To add this back into the original dataframe 
dfOneHot = pd.DataFrame(X, columns = ["Country_"+str(int(i)) for i in range(df.shape[1])]) 
df = pd.concat([df, dfOneHot], axis=1)

#droping the country column 
df= df.drop(['Country'], axis=1) 

#printing to verify 
print(df.head())

   Age  Salary  Country_0  Country_1  Country_2
0   44   72000        1.0        0.0        0.0
1   34   82000        0.0        0.0        1.0
2   46   92000        0.0        1.0        0.0
3   35  102000        0.0        0.0        1.0
4   23  112000        0.0        1.0        0.0