In [116]:
import pandas as pd
import numpy as np
import os
import random as rd
print (os.getcwd())

C:\Users\psinghrathor\EduKeeda

In [17]:
#print('Hello World')

**Diabetes File**

Head(), Tail(), Shape(), Dataframe, print() topics covered

In [10]:
pima=pd.read_csv("diabetes.csv")

In [4]:
pima.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [3]:
#First 5 rows in the dataframe
pima.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [7]:
#Last 5 rows in the dataframe
pima.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [13]:
pima.shape

(768, 9)

In [12]:
pima.shape[0]

768

In [14]:
## Shift + Enter to run any block of code

In [25]:
a = 3.1
print(a)

3.1

In [26]:
type(a)

float

In [30]:
a = b =c = 3
b = 2

In [31]:
print(b)

2

Float, Int, String, +, -, /, *, Power**, Divisor//, Remainder %

In [23]:
a = 8
b = 2
c = a+b+2
print(c)

12

In [20]:
type(c)

float

USer Input, Boolean, Comparison Operator

In [39]:
x = input("Enter your name")

Enter your nameSwati

In [40]:
print(x)

Swati

In [34]:
print(f'{x} is your mentor for Data Science Course')

Prateek is your mentor for Data Science Course

In [42]:
print("Hello World")

Hello World

In [41]:
print(f'Hello {x} , welcome to this course')

Hello Swati , welcome to this course

In [45]:
9<10

True

In [50]:
var = True

In [51]:
type(var)

bool

Comparison Operators

In [106]:
a = 4
b =6

if a>b:
    print('A > b')
    
if a<b:
    print('A < b')
    
if a<=b:
    print('A <= b')

if a>=b:
    print('A >= b')
    
if a!=b:
    print('A is not equal to b')

A > b
A < b
A <= b
A is not equal to b

In [107]:
a = 8
b =6

if a>b and a%2 == 0:
    print('A is divisible by 2 and greater than b')

A is divisible by 2 and greater than b

In [65]:
# Data Type conversion function int -> string int-> float string->int
a = '2233'
a = float(a)
a = int(a)
a = str(a)
print(type(a))

<class 'str'>

In [73]:

a = int(input('Enter Blr population'))
# a = 10000000

if a > 10000000 :
    print("Over populated")
elif a > 5000000 and a<= 10000000 :
    print("Decent Population")
else :
    print("Under Populated")

Enter Blr population1
Under Populated

In [102]:
#len -> no. of characters in a word
n = len(input("Enter your name"))
for a in range(1,n):
    print(n)

Enter your namePrateek
7

In [130]:
a = 0
while a < 10:
    a = a+1
    if a == 3:
        continue
    print(a)
    #a = a+1

1
2
4
5
6
7
8
9
10

In [128]:
for i in range(0,10):
    if i == 3:
        continue
    print(i)

0
1
2
4
5
6
7
8
9

In [110]:
def factorial (n):
    res = 1
    for i in range(1,n+1):
        res = res * i
    return (res)

In [111]:
n = int(input("Enter your fav number"))
x = factorial(n)
print (x)

Enter your fav number4
24

In [109]:
def func():
    return('10')

a = func()
print(a)

10

In [115]:
def func():
    print('10')

func()

10